.body{
    font-family:   Verdana, sans-serif;
   
}


.blur{
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    height: 500px;
    
}
.linija{
    background-color: blue;
    height: 3px;
    box-shadow: cadetblue;
}
